body {
    background-color: #fff0f0;
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Gloock', serif;
    font-size: 5.625em;
    line-height: 2;
}

h2 {
    font-family: 'Gloock', serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h1, h2 {
    color: #66BFBF;
}

h3 {
    font-family: 'Gloock', serif;
}

h3, a {
    color: #11999E;
}

.top-container {
    background-color: #FFF6EA;
    /* Challenge in Video 44:
        border: solid;
        border-width: 10px;
        padding: 20px;
    */
    position: relative;
    padding-top: 100px;

}

.middle-container {
    
    /* Challenge in Video:
        background-color: #B4FF9F;
        height : 200px;
        width : 200px; 
    */

    /* Challenge in Video 44:
        border: solid;
        border-width: 20px;
        margin-left: 260px;
    */
}

/* Should not use this to style img in middle container as it's complicated to expand later or could cause errors
.middle-container .profile img {
    width : 200px;
} 
*/

.profile-img {
    width : 200px;
}

.skill-icons {
    width : 80px;
}

.bottom-container {

    /* Challenge in Video:
        background-color: #F9FFA4;
        height : 200px;
        width : 200px; 
    */

    /* Challenge in Video 44:
        border: solid;
        border-width: 10px;
        margin-left: 500px;
    */
}

.span-pro {
    text-decoration: underline;
}

.top-cloud {
    position : absolute; /* absolute compared with parent block which is top-container */
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute; /* absolute compared with parent block which is top-container */
    left: 300px;
    bottom: 300px;
}

#name {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* should not use em as it'll be affected by body's font size */
}

#footer-copyright {
    font-size: 1rem;
}
