body {
    background-color: #fff0f0;
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    /* For Lesson 53 - Font sizing: font-size: 2em; */
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Gloock', serif;
    font-size: 5.625em;
    color: #66BFBF;
    /* For Lesson 56 - Challeng 3: line-height: 2; */
}

h2 {
    font-family: 'Gloock', serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;

}

/* h1, h2 {
    color: #66BFBF;
} */

h3 {
    font-family: 'Gloock', serif;
}

h3, a {
    color: #11999E;
}

.top-container {
    background-color: #FFF6EA;
    /* Challenge in Video 44:
        border: solid;
        border-width: 10px;
        padding: 20px;
    */
    position: relative;
    padding-top: 100px;

}

.middle-container {
    
    /* Challenge in Video:
        background-color: #B4FF9F;
        height : 200px;
        width : 200px; 
    */

    /* Challenge in Video 44:
        border: solid;
        border-width: 20px;
        margin-left: 260px;
    */
}

/* Should not use this to style img in middle container as it's complicated to expand later or could cause errors
.middle-container .profile img {
    width : 200px;
} 
*/

.bottom-container {

    /* Challenge in Video:
        background-color: #F9FFA4;
        height : 200px;
        width : 200px; 
    */

    /* Challenge in Video 44:
        border: solid;
        border-width: 10px;
        margin-left: 500px;
    */
}

.profile-img {
    width : 200px;
}

.skill-row {
    width : 50%;
    margin: 100px auto;
    text-align: left; /* This will override text-aligned center in body */
    line-height: 2;

}

.research-img {
    width : 25%;
    float: left; /* make text-wrap around img */
    margin-right: 30px;
}

.singing-img {
    width : 25%;
    float: right; /* make text-wrap around img */
    margin-left: 30px;
}

/* For Lesson 58 - Float & Clear: clear example
    .research-skill-description {
    make sure left margin of the skill description is clear & wrapped around anything, 
    then basically prevents it from carrying out the default
    clear: left; 
} 

    .singing-skill-description{
    make sure right margin of the skill description is clear & wrapped around anything, 
    then basically prevents it from carrying out the default
    clear: right; 
} */

.span-pro {
    text-decoration: underline;
}

.top-cloud {
    position : absolute; /* absolute compared with parent block which is top-container */
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute; /* absolute compared with parent block which is top-container */
    left: 300px;
    bottom: 300px;
}

#name {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* should not use em as it'll be affected by body's font size */
}

#footer-copyright {
    font-size: 1rem;
}
